.text-color {
    color: #16425b;
}

.content-bg1 {
    background: #2f6690;
}

.content-bg2 {
    background: #3a7ca5;
}

.app-bg {
    background: #d9dcd6;
}

.header-bg {
    background: #61afb9;
}

.task-bg {
    background: #81c3d7;
}

