.text-color {
    color: #4e5166;
}

.content-bg1 {
    background: #b3c5d7;
}

.content-bg2 {
    background: #c8c5eb;
}

.app-bg {
    background: #e3d8f1;
}

.header-bg {
    background: #8783d1;
}

.task-bg {
    background: #FFE4E1;
}